.header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 15px; 
  }
  
  .header h1 {
    margin: 0; 
    font-size: 1.5rem; 
  }
  
  .header .search-container {
   
  }